<!DOCTYPE html>
<html>
<head>
    <title>Koa SSR Demo</title>
</head>
<body>
<!--头部导航-->

<h3><%= title %></h3>
<h3><%= num %></h3>
<img src="<%= picture %>" width="400px" height="600px"/>
<!--底部-->
</body>
</html>
