<!DOCTYPE html>
<html>
  <head>
    <title>Koa SSR Demo</title>
  </head>
  <body>
    <!--头部导航-->

    <h3><%= title %></h3>
    <div><%= content %></div>
    <span> </span>
    <img src="<%= picture %>" width="400px" />
    <!--底部-->
  </body>
</html>
